@charset "utf-8";
html {
	margin:0;
	padding:0px;
	background-color:#f8f8f8;
	width:100%;
	height:100%;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:14px;
	color:#000;
}
body {
	padding:50px;
}

#container {
	background-color:#FFF;
	border:1px solid #dcdcdc;
	width:550px;
	position:relative;
	margin:0px auto;
	overflow:hidden;
}

img {
	border:none;	
}

/* Top papouch Bar */

#tBar {
	width:100%;
	float:left;
}

#tBar-inner {
	padding-top:10px;
	padding-left:10px;
	border-bottom:1px solid #dcdcdc;
	height:65px;
}

#parrot {
	position:absolute;
	right:15px;
	top:20px;
	border:2px solid #FFF;
	cursor:pointer;
}


/* MENU */
#menu {
	background-color:#FFF;
	border:1px solid #dcdcdc;
	text-align:right;
	position:absolute;
	top:61px;
	right:15px;
	display:none;
	font-size:13px;
	-webkit-border-top-left-radius     : 5px;
	-webkit-border-bottom-right-radius : 5px;
	-moz-border-radius-topleft         : 5px;
	-moz-border-radius-bottomright     : 5px;
	border-top-left-radius             : 5px;
	border-bottom-right-radius         : 5px;
	overflow:hidden;
}
div.menu-item {
	width:150px;
	border-top:1px solid #dcdcdc;
	padding:0.4em;
	/*margin:0.4em;*/
	cursor:pointer;
}
div.menu-item:first-child {
	border-top:none;
	-webkit-border-top-left-radius : 4px;
	-moz-border-radius-topleft     : 4px;
	border-top-left-radius         : 4px;
}
div.menu-item:last-child {
	-webkit-border-bottom-right-radius : 4px;
	-moz-border-radius-bottomright     : 4px;
	border-bottom-right-radius         : 4px;
}


/* PAGES - UNIVERSAL */
.page-header {
	background-color : #828282;
	color            : white;
	width            : 100%;
	font-size        : 15px;
	text-align       : left;
	/*float            : left;*/
	/*margin-bottom    : 15px;*/
}

.page-header-inner{
  padding: 5px 10px 5px 10px;
}

.page-label {
	font-weight: bold;
}

.page-body {
	float          : left;
	width          : 100%;	
	font-size      : 13px;
}

.page-body-inner {
	margin         : 10px;
    padding-bottom : 10px;
}

.page-bottom-bar-buttons {
	text-align: right;
}

fieldset {
	border: 1px solid #dcdcdc;
    margin-bottom: 15px;
}
fieldset table td{
	padding:10x;
	min-width:140px;
}
fieldset table {
	padding:5px;
	text-align:left;	
}
legend {
	color:#969696	
}
input.number {
	text-align:right;
}
input.date {
	width:150px;
}

/* SETTINGS */
#settings {
	display: none;
}


/* HISTORY */
#history {
	display:none;
}

#history-pages {
	float:right;
	color:#FFF;
	font-size:13px;
}
#hBR {
	padding-left:15px;
	padding-top:5px;	
	float:left;
}
#history table tr td:first-child{
	
}
#history_data{	
	float:left;
	overflow:auto;
	width:100%;
}
#history_data table {
	width:auto;
	text-align:center;
	margin:10px;
}
#history_data table tr:first-child{
	text-transform: uppercase;
}
#history_data table tr td:first-child{
    min-width  : 150px;
    text-align : left;
}
#history_data table td.dateCell{
	font-style:italic;
}
#history_displayDivision {	
	display:none;
	float:left;
	width:100%;
}

#loader{
	padding:20px 15px 20px 15px;
	float:left;
	color:#505050;
	font-size:12px;
	display:none;
}
#download_history{	
	background-color:#FFF;
	width:100%;
	border-top:1px solid #dcdcdc;
	float:left;
}
#download_history_wrapper {	
	padding:5px 15px 5px 15px;
	color:#282828;
	text-align:right;
	font-size:12px;
	float:right;
}


/* DATA */
div.error {
	background-color:#FF9B9B;
	width:100%;
	float:left;
}
#data {
	width:100%;
}
div.error table {
	margin:5px 15px 5px 15px;
}

div.error tr {
	vertical-align:middle;
}
div.error tr:first-child td:first-child {
	width:30px;
}

.errorMessage {
	color:#282828;
	text-align:left;
	width:100%;
}
.details {
	color:#282828;
	text-align:left;
	font-size:12px;
}
#build {
	color:#969696;
	text-align:left;
	font-size:10px;
	float:left;
	margin-left:10px;
}
table.datafields {
	width:100%;
	float:left;
	border:none;
	border-collapse:collapse;
}
table.datafields td {
	text-align:left;
}
table.datafields tr {
	border-top:1px solid #dcdcdc;
}
#data table.datafields:first-child tr:first-child {
	border-top:none;
}
table.datafields td:first-child {
	padding:5px 5px 5px 10px;
}
.val {
	text-align:right !important;
	padding-right:5px;
}

.value {
	margin-right:15px;
	float:right;
	font-weight:bold;
}
.label {
	margin-left:15px;
}

div#updated {
	background-color:#FFF;
	width:100%;
	padding:5px 0px 5px 0px;
	border-top:1px solid #dcdcdc;
	text-align:right;
	float:left;
}

a.on_btn {
	display:inline-block;
	width:20px;
	height:20px;
	background-image:url('images/quido_sprite.png');
	background-position:0px -20px;
	background-repeat:no-repeat;
	margin-right:1px;
	
	/*background-color: #F8C300;*/
	-webkit-border-top-left-radius    : 2px;
	-moz-border-radius-topleft        : 2px;
	border-top-left-radius            : 2px;	
	-webkit-border-bottom-left-radius : 2px;
	-moz-border-radius-bottomleft     : 2px;
	border-bottom-left-radius         : 2px;
}
a.on_btn:hover {
	background-position:0px 0px;
		
}
a.on_btn_active {
	background-position:0px 0px !important;
}
a.off_btn {
	display:inline-block;
	width:20px;
	height:20px;
	background-image:url('images/quido_sprite.png');
	background-position:-20px -20px;
	background-repeat:no-repeat;
	
	-webkit-border-top-right-radius    : 2px;
	-moz-border-radius-topright        : 2px;
	border-top-right-radius            : 2px;	
	-webkit-border-bottom-right-radius : 2px;
	-moz-border-radius-bottomright     : 2px;
	border-bottom-right-radius         : 2px;
}
a.off_btn:hover {
	background-position:-20px 0px;
}
a.off_btn_active {
	background-position:-20px 0px !important;
}

/* links */
a.histPage:link {
	color:#F0F0F0;
	text-decoration:underline;
	font-size:inherit;
}
a.histPage:active {
	color:#F0F0F0;
	text-decoration:underline;
	font-size:inherit;
}
a.histPage:visited {
	color:#F0F0F0;
	text-decoration:underline;
	font-size:inherit;
}
a.histPage:hover {
	color:#F0F0F0;
	text-decoration:underline;
	font-size:inherit;
}
/* wixOrange */
a.wixOrange:link {
	color:#cc6229;
	text-decoration:underline;
	font-size:inherit;
}
a.wixOrange:active {
	color:#cc6229;
	text-decoration:underline;
	font-size:inherit;
}
a.wixOrange:visited {
	color:#cc6229;
	text-decoration:underline;
	font-size:inherit;
}
a.wixOrange:hover {
	color:#cc6229;
	text-decoration:underline;
	font-size:inherit;
}